@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-fallback: "system-ui, -apple-system, arial, sans-serif";
    --font-primary: "Roboto"
}

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto-VariableFont.ttf') format("truetype");
    font-weight: 400 900;
    font-style: normal;
}

html {
    font-family: "Roboto", var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@keyframes rotate3d {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 360deg);
  }
}

.tilt-effect {
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.tilt-effect:hover {
  transform: rotate3d(1, 1, 1, 10deg);
}

.tilt-effect.active {
  animation: rotate3d 1s infinite;
}

.mouse-follow {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
  transform-origin: top center;
}