---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Portfolio - Bastián Ñiripil">
	<main class="flex flex-col px-28 py-5 justify-start items-center">
		<section class="inline-flex justify-between items-center">
			<div class="inline-flex flex-col">
				<h1 class="text-white text-6xl font-medium">Hey, I'm Bastián Ñiripil</h1>
			<h2 class="text-stone-300 text-3xl">
				<span class="text-lime-200">Computer Engineering Student</span> in Duoc UC. Aspiring Web Developer from Concepción, Chile CL.
			</h2>
			</div>
		</section>
	</main>
</Layout>
