---
import GithubIcon from '../assets/icons/Github.svg';
---

<footer class="flex justify-between items-center self-stretch mt-[100px] px-7 h-16 bg-[rgba(20,14,25,0.42)] text-balance">
    <h3 class="text-stone-300 text-sm md:text-xl">© 2025 Bastián Ñiripil</h3>
    <h3 class="flex flex-row items-center gap-2.5 w-44 text-stone-300 text-sm text-wrap md:w-auto md:text-xl">
        <a
            href="https://github.com/pestyzz/dev-portfolio"
            target="_blank"
            rel="noopener noreferrer"
        >
            <GithubIcon class="size-5" aria-label="GitHub" />
        </a>
        Designed with Figma & Developed with Astro
    </h3>
</footer>