---
import NavLink from "./NavLink.astro";
---

<nav class="fixed top-[30px] z-1 inline-flex justify-center items-center gap-1.5 h-11 pl-2.5 pr-5 bg-[#22053B] rounded-[20px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]">
    <NavLink href="#projects">Projects</NavLink>
    <NavLink href="#skills">Skills</NavLink>
    <NavLink href="#about">About me</NavLink>
    <NavLink href="#contact">Contact</NavLink>
    <!-- change theme button -->
</nav>