<nav class="inline-flex justify-center items-center gap-2 w-80 h-10 bg-indigo-950">
    <a href="">Proyectos</a>
    <a href="">Sobre mí</a>
    <a href="">Contactos</a>
    <!-- <button></button> -->
</nav>