---
const { id } = Astro.props;
---

<section id={id} class="flex flex-wrap self-stretch gap-7">
    <header class="flex items-center gap-5">
        <slot name="icon" />
        <h2 class="text-white text-5xl font-medium"><slot name="title" /></h2>
    </header>
    <slot />
</section>