<a 
    class="group flex items-center px-4 py-2.5 gap-2.5 text-md text-white rounded-2xl bg-[#b3a2c2] dark:bg-[#22053B] outline outline-lime-200 dark:outline-lime-300 hover:text-gray-700 hover:dark:text-[#22053B] hover:bg-lime-200 hover:dark:bg-lime-300 hover:outline-none transition-colors duration-200 md:text-xl"
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>