---
import DarkIcon from '../assets/icons/Dark.svg';
import LightIcon from '../assets/icons/Light.svg';
---
<label
    for="toggle"
    class="flex items-center cursor-pointer select-none text-dark dark:text-white"
    id="theme-selector"
    >
    <div class="relative">
        <input
            type="checkbox"
            id="toggle"
            class="peer sr-only"
            role="switch"
            aria-label="Toggle between light and dark theme"
        />
        <div class="block rounded-full bg-[#90829c] dark:bg-[#2E203A] w-14 h-7">
            <div class="group flex justify-between items-center size-full px-1.5">
                <DarkIcon 
                    class="z-1 size-4 text-stone-300 dark:text-white group-hover:dark:text-lime-300 transition-colors duration-200" 
                    aria-hidden="true"
                />
                <LightIcon 
                    class="z-1 size-4 text-white dark:text-stone-300 group-hover:not-dark:text-lime-300 transition-colors duration-200" 
                    aria-hidden="true"
                />
            </div>
        </div>
        <div class="absolute flex items-center justify-center size-5 transition rounded-full left-1 top-1 bg-[#695e72] dark:bg-zinc-900 peer-checked:translate-x-7 peer-checked:dark:bg-white">
        </div>
    </div>
    <span class="sr-only">Toggle theme</span>
</label>

<script is:inline>
    const isDark = localStorage.theme === 'light' || (window.matchMedia('(prefers-color-scheme: dark)').matches && !localStorage.theme);
    
    document.documentElement.classList.toggle('dark', !isDark);
    
    document.getElementById('toggle').checked = isDark;

    document.getElementById('theme-selector')?.addEventListener('change', () => {
        const isDark = document.getElementById('toggle').checked;
        localStorage.theme = isDark ? 'light' : 'dark';
        document.documentElement.classList.toggle('dark', !isDark);
    });
</script>